aiosmtplib
annotated-types
anyio
APScheduler
bcrypt
blinker
# Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
# certifi @ file:///croot/certifi_1734473278428/work/certifi
# cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
# charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click
cryptography
dnspython
# docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
ecdsa
email_validator
fastapi
fastapi-mail
# filetype @ file:///home/conda/feedstock_root/build_artifacts/filetype_1667445778563/work
greenlet
h11
# h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
# hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
# hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
# idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2
jwt
# Kivy @ file:///home/conda/feedstock_root/build_artifacts/kivy_1735428502621/work
# kivymd @ file:///home/conda/feedstock_root/build_artifacts/kivymd_1618633408970/work
MarkupSafe
# packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
passlib
personal_finance_manager_v2
# pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929690690/work
psycopg2-binary
pyasn1
# pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic
pydantic-settings
pydantic_core
# Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
# PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dotenv
python-jose
# requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzlocal
# urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn
zstandard